* {
  font-family: Consolas, Ubuntu, Roboto, Arial, sans-serif;
  letter-spacing: 1px;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #000;
}

body {
  display: flex;
  background-image: url("assets/bg-fullhd.png");
}

#app {
  color: white;
  margin: auto;
  position: relative;
}

canvas {
  margin: auto;
  border: 1px solid #063dc7;
}
