* {
  font-family: Consolas, Ubuntu, Roboto, Arial, sans-serif;
  letter-spacing: 1px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

body {
  display: flex;
}

#app {
  color: white;
  margin: auto;
  position: relative;
}

.ui {
  z-index: 20;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  color: white;
  text-align: center;
}

.menu {
  position: relative;
  height: 100%;
  flex-direction: column;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  font-size: 24px;
}

.menu .menu-list {
  flex-direction: column;
  gap: 12px;
}

.menu button:hover {
  cursor: pointer;
  font-weight: bold;
}

#menu-item-resume {
  color: #28cf16;
}

.score {
  font-size: 20px;
  display: flex;
  padding: 4px 4px;
  z-index: 10;
}

.score .score-value {
  color: white;
}

canvas {
  margin: auto;
  border: 1px solid #063dc7;
}
